// Modals
// ---------------------------------------

	.overlay {
		position: fixed;
		z-index: 400;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;	
		width: 100%;
		height: 100%;
		background: rgba(#111, .9);

		&__demo {
			background:rgba($color-white, .75);
		}
	}

	.modal {
		z-index: 400;
		position: absolute;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		margin: auto;

		.fa {
			position: absolute;
			color: $color-white;
			right: $layout-offset;
			top: $layout-offset;
			font-size: $layout-offset*2;
			cursor: pointer;

			&:hover {
				color: $color-primary;
			}
		}

		a.close-modal {
			display: none;
		}
	}

	.modal__screenshot {
		
		img {
			position: absolute;
			max-height: 90%;
			max-width: 80%;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			border-radius: $layout-offset/2;

			@include material-shadow-nohover(1);
		}
	}

	.modal__demo {
		display: flex;
		align-content: center;

		&-form {
			position: relative;
			width: $layout-offset*12;
			padding: $layout-offset;
			text-align: left;
			border-radius: $layout-offset/2;
			background: $color-white;
			margin: auto;

			@include material-shadow-nohover(1);
	
			&-h1 {
				width: 75%;
				margin: auto;
				margin-bottom: $layout-offset;
				line-height: $layout-offset;
				font-size: $font-size-tiny;
				color: $palette-grey-500;
			}

			&-h2 {
				line-height: $layout-offset/1.1;
				text-align: center;
				padding-bottom: $layout-offset/2;
			}
			
			&-label {
				margin-top: $layout-offset;
				font-size: $font-size-tiny;
				color: $palette-grey-500;
				line-height: $layout-offset/1.3;

				span {
					font-size: $font-size-tiny;
					font-style: italic;
				}
			}

			&-input {
				display: block;
				width: 100%;
				margin-top: $layout-offset/2;
				border: none;
				border-bottom: 1px solid $palette-grey-400;
			}

			.fa {
				font-size: $layout-offset - 4px;
				color: $wfg-color-blue;
				top: -$layout-offset/2.5;
				right: -$layout-offset/2.5;
				background: $color-white;
				border-radius: 100%;
				padding: $layout-offset/8;
				width: $layout-offset*1.05;
				text-align: center;

				@include material-shadow(1);
			}

			.button__modal__demo-form {
				display: block;
				margin: auto;
				margin-top: $layout-offset;
				font-size: $font-size-small;

				color: $color-primary;
				border: 1px solid $color-primary;
				box-shadow: none;

				&:hover {
					background: $color-primary;
					color: $color-white;
				}
			}
		}
	}

// ---------------------------------------
// End - Modals



// Header
// ---------------------------------------

	.header {
		
		.b-container { padding-top: $layout-offset/2; }

		&-side {

			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-items: center;

			&__left {
				justify-content: flex-start;
			}

			&__right {
				justify-content: flex-end;
			}
		}
	}

	.header {

		&-logo {

			width: $layout-offset*2;
			height: $layout-offset*2;
			background:transparent url('/data/img/logo-small.png') left top no-repeat;
			background-size: cover;
			border-radius: 100%;

			&-title {
				margin-left: $layout-offset;
				font-size: $font-size-small;
				font-weight: bold;
				text-transform: uppercase;
				color: $palette-grey-800;
			}
		}

		&-phone {
			margin-right: $layout-offset;
			color: $palette-grey-500;
		}

		&-icon {
			margin-right: $layout-offset;
			vertical-align: middle;
			text-align: center;
			padding: none;
			color: $palette-grey-500;
		}

		.button__header-button {
			background: $color-primary;
			color: $color-white;
			font-size: $font-size-small;
			border: 1px solid rgba($color-white, 0);

			@include material-shadow-big(1);
        	
        	box-shadow: 0 14px 28px rgba(0,0,0,0.10), 0 10px 10px rgba(0,0,0,0.15);
		
			&:hover {
				background: darken($color-primary, 10%);
			}
		}
	}

// ---------------------------------------
// End - Header



// menu
// ---------------------------------------

	.menu {

		.b-container { justify-content: flex-end; }

		&-item {
			margin-left: $layout-offset;

			&:first-child {
				margin-left: 0;
			}
		}
	}

	.menu {

		&-item {
			
			padding-bottom: $layout-offset/4;
			border-bottom: 1px solid $palette-grey-600;
			font-size: $font-size-small;

			&:hover {
				color: $color-primary;
				border-bottom: 1px solid;
			}
		}
	}

// ---------------------------------------
// End - menu



// descript
// ---------------------------------------

	.descript {

		padding: $layout-offset*8 0;

		.b-container { 
			justify-content: flex-start; 
		}

		&-h1 {
			text-align: left;
			min-width: 100%;
		}

		&-h2 {
			text-align: left;
			margin-top: $layout-offset*2;
			max-width: 75%;
		}
	}

	.descript {

		&-h1 {
			font-size: $font-size-big*2.5;
		}

		&-h2 {
			font-size: $font-size-big;
			line-height: $layout-offset*1.10;
			font-weight: $font-weight-thin;
		}
	}

// ---------------------------------------
// End - descript



// whatwecando
// ---------------------------------------

	.whatwecando {

		margin-top: $layout-offset;

		&-h1 {
			width: 100%;
		}

		&-slider {
	
			.row {
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				align-items: flex-start;
				justify-content: space-between;
				margin-top: $layout-offset;
			}

			&-item {
					
				margin-top: $layout-offset;
				margin-left: $layout-offset*2;
				max-width: 30%;
				min-width: 30%;

				&:first-child {
					margin-left: 0;
				}

				&-icon {
					display: inline-block;
					width: $layout-offset*3;
					height: $layout-offset*3;
					padding: $layout-offset/2;
				}
				
				&-info {
					display: inline-block;
					float: right;
					cursor: pointer;
					color: $color-primary;
					border: 1px solid;
					width: $layout-offset*1.25;
					font-size: $layout-offset;
					padding-top: $layout-offset/4;
					padding-bottom: $layout-offset/4;
					text-align: center;
					border-radius: 100%;

					&:hover {
						color: $color-white;
						background: $color-primary;
						border: 1px solid $color-primary;
					}
				}

				&-h1 {
					margin-top: $layout-offset;
				}

				&-h2 {
					margin-top: $layout-offset/2;
					color: $palette-grey-500;
				}
			}
		}
	}

	.whatwecando {

		&-h1 {
			font-size: $layout-offset*2;
			color: $palette-grey-400;
		}

		&-slider {
			&-item {	
				&-icon {
				
					&__identification {
						background:transparent url('/data/img/icons/identification.png') center center no-repeat;
						background-size: $layout-offset*2.5;
						background-color: #fff;
					}
					&__constructor {
						background:transparent url('/data/img/icons/constructor.png') center center no-repeat;
						background-size: $layout-offset*2.5;
						background-color: #fff;
					}
					&__analytic {
						background:transparent url('/data/img/icons/analytic.png') center center no-repeat;
						background-size: $layout-offset*2.5;
						background-color: #fff;
					}
				}

				&-h1 {
					line-height: $layout-offset;
				}

				&-h2 {
					font-size: $font-size-small;
					line-height: $layout-offset;					
				}
			}
		}
	}

// ---------------------------------------
// End - whatwecando



// partners
// ---------------------------------------

	.partners {

		padding: $layout-offset*6 0;

		.b-container { flex-wrap: nowrap; }

		&-side {

			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-items: center;

			&__left {
				max-width: 50%;
				min-width: 50%;
			}

			&__right {
				max-width: 48%;
			}
		}

		&-h1 {
			width: 100%;
		}
		
		&-item {
			display: inline-block;
			margin: $layout-offset;
		}
	}

	.partners {

		&-h1 {
			font-size: $layout-offset*2;
			color: $palette-grey-400;
		}
		
		&-item {
			vertical-align: middle;
			width: $layout-offset*4;
			height: $layout-offset*4;
			// border-radius: $layout-offset;
			background: $palette-grey-500;
			-webkit-filter: grayscale(100%);
			-moz-filter: grayscale(100%);
			-ms-filter: grayscale(100%);
			-o-filter: grayscale(100%);
			filter: grayscale(100%);
			filter: gray; /* IE 6-9 */
			opacity: .6;
			
			&:hover {
				filter: none;
				opacity: .9;
			}

			&__mercure {
				background:transparent url('/data/img/logos/mercure.png') center center no-repeat;
				background-size: contain;
			}
			&__goldenapple {
				background:transparent url('/data/img/logos/goldenapple.png') center center no-repeat;
				background-size: contain;
				opacity: 1;
			}
			&__parkin {
				background:transparent url('/data/img/logos/parkinn.png') center center no-repeat;
				background-size: contain;
			}
			&__bestwestern {
				background:transparent url('/data/img/logos/bestwestern.png') center center no-repeat;
				background-size: contain;
				height: $layout-offset*3;
			}
			&__indigo {
				background:transparent url('/data/img/logos/indigo.jpg') center center no-repeat;
				background-size: contain;
				height: $layout-offset*3;
			}
			&__novotel {
				background:transparent url('/data/img/logos/novotel.png') center center no-repeat;
				background-size: contain;
			}
			&__rostelecom {
				background:transparent url('/data/img/logos/rostelecom.png') center center no-repeat;
				background-size: contain;
			}
			&__yota {
				background:transparent url('/data/img/logos/yota.png') center center no-repeat;
				background-size: contain;
				height: $layout-offset*3;
			}
		}
	}

// ---------------------------------------
// End - partners



// price
// ---------------------------------------

	.price {

		.b-container { 
			justify-content: flex-start;
			padding-bottom: $layout-offset*2 - 10px;
			border-right: $layout-offset dotted $palette-grey-200;
		}

		&-h1 {
			width: 100%;
		}

		&-item {
			
			margin: $layout-offset;
			margin-top: $layout-offset*2;
			padding: $layout-offset;

			&:nth-child(2) {
				margin-left: 0;
			}

			&-h1 {

			}

			&-price {
				padding: $layout-offset 0;
				margin-top: $layout-offset;
				margin-left: -(30%/2);
				width: 130%;
				border-radius: $layout-offset/2;
				text-align: center;
			}
		}
	}

	.price {

		&-h1 {
			font-size: $layout-offset*2;
			color: $palette-grey-400;
		}

		&-item {
			position: relative;
			width: $layout-offset*12;
			border: 1px solid $palette-grey-300;
			border-radius: 4px;

			&-h1 {
				font-size: $font-size-big;
				line-height: $layout-offset;
				font-weight: $font-weight-thin;
			}

			&-price {
				// background: $color-white;
				background: $color-primary;
				color: $color-white;
				font-weight: bold;
				// border: 1px solid $palette-grey-300;	
				font-size: $font-size-big*1.25;
			}
		}
	}

// ---------------------------------------
// End - price



// cta
// ---------------------------------------

	.cta {
		
		background: rgba($palette-grey-200, .8);
		padding: $layout-offset*1.5 0;

		.b-container { flex-wrap: nowrap; }

		&-side {

			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-items: center;

			&__left {
				max-width: 50%;
				min-width: 50%;
				text-align: left;
			}

			&__right {
				text-align: center;
				max-width: 48%;
			}
		}	
	}

	.cta {

		&-h1 {
			font-size: $font-size-big*2;
			text-align: left;
			color: $palette-grey-400;
		}

		&-list-item {

			margin-top: $layout-offset;
			
			&:nth-child(2) {
				margin-top: $layout-offset*2;
			}

			&-icon {
				display: inline-block;
				vertical-align: middle;
				width: $layout-offset*3;
				height: $layout-offset*3;
				border-radius: $layout-offset/1.5;

				@include material-shadow-nohover(1);

				&__config {
					background:transparent url('/data/img/icons/config.png') center center no-repeat;
					background-color: #fff;
					background-size: $layout-offset*2;				
				}
				&__consult {
					background:transparent url('/data/img/icons/consult.png') center center no-repeat;
					background-color: #fff;
					background-size: $layout-offset*2;				
				}
				&__update {
					background:transparent url('/data/img/icons/update.png') center center no-repeat;
					background-color: #fff;
					background-size: $layout-offset*2;				
				}
			}

			&-h1 {
				display: inline-block;
				vertical-align: middle;
				width: 60%;
				margin-left: $layout-offset;
				line-height: $layout-offset;
				text-align: left;
				font-weight: $font-weight-thin;
			}
		}


	}


	.cta {

		&-form {
			
			width: $layout-offset*12;
			padding: $layout-offset;
			text-align: left;
			border-radius: $layout-offset/2;
			background: $color-white;
			margin: auto;

			@include material-shadow-nohover(1);
	
			&-h1 {
				width: 75%;
				margin: auto;
				margin-bottom: $layout-offset;
				line-height: $layout-offset;
				font-size: $font-size-tiny;
				color: $palette-grey-500;
			}

			&-h2 {
				line-height: $layout-offset/1.1;
				text-align: center;
				padding-bottom: $layout-offset/2;
			}
			
			&-label {
				margin-top: $layout-offset;
				font-size: $font-size-tiny;
				color: $palette-grey-500;
				line-height: $layout-offset/1.3;

				span {
					font-size: $font-size-tiny;
					font-style: italic;
				}
			}

			&-input {
				display: block;
				width: 100%;
				margin-top: $layout-offset/2;
				border: none;
				border-bottom: 1px solid $palette-grey-400;
			}

			.button__cta-form {
				display: block;
				margin: auto;
				margin-top: $layout-offset;
				font-size: $font-size-small;

				color: $color-primary;
				border: 1px solid $color-primary;
				box-shadow: none;

				&:hover {
					background: $color-primary;
					color: $color-white;
				}
			}
		}
	}

// ---------------------------------------
// End - cta



// news
// ---------------------------------------

	.news {
		
		padding: $layout-offset*2 0;

		.row {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-items: center;
			justify-content: space-between;
		}

		&-h1 {
			min-width: 100%;
		}

		&-item {
			margin-top: $layout-offset;
			margin-left: $layout-offset*2;

			&:first-child {
				margin-left: 0;
			}
			
			&-date {
				display: inline-block;
				padding: $layout-offset/4;
				color: $palette-grey-500;
				border: 1px solid $palette-grey-400;
				border-radius: 4px;
				font-size: $font-size-tiny;

			}

			&-h1 {
				font-size: $font-size-small;
				margin-top: $layout-offset/2;
				font-weight: bold;
			}

			&-text {
				font-size: $font-size-small;
				margin-top: $layout-offset/3;
				line-height: $layout-offset/1.2;

			}

			.news-item-date__latest {
				background: $color-primary;
				color: $color-font;
				border: 1px solid $color-primary;
			}
		}
	}

// ---------------------------------------
// End - news



// footer
// ---------------------------------------

	.footer {

		.b-container {
			padding-top: $layout-offset*2;
			padding-bottom: $layout-offset*2;
			// border-top: 1px solid $palette-grey-300;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-items: flex-start;
			justify-content: space-between;			
		}

		&-col {
			max-width: 33%;
			margin-left: $layout-offset;

			&:first-child {
				margin-left: 0;
			}
		}
	}

	.footer {

		&-h1 {
			font-size: $font-size-small;
			font-weight: bold;
			text-transform: uppercase;
		}

		&-h2 {
			margin-top: $layout-offset/3;
			font-size: $font-size-tiny;
		}

		&-contact {
			margin-top: $layout-offset;
			font-size: $font-size-tiny;
			line-height: $layout-offset/1.1;
		}
	}

	.footer {

		&-menu-item {
			display: inline-block;
			margin-bottom: $layout-offset/2;
			margin-left: $layout-offset*2;
			width: 33%;
			font-size: $font-size-small;

			&:hover {
				color: $color-primary;
			}
		}
	}

	.footer {

		&-descript {
			font-size: $font-size-tiny;
			line-height: $layout-offset/1.3;
		}

		.button__footer {
			margin-top: $layout-offset;
			font-size: $font-size-small;

			color: $color-primary;
			border: 1px solid $color-primary;
			box-shadow: none;

			&:hover {
				background: $color-primary;
				color: $color-white;
			}
		}
	}

// ---------------------------------------
// End - footer