@import "colors";
@import "../vendor/reset";
@import "../vendor/normalize";

// Sizing
// ---------------------------------------------------------------------

    $unit: 10px;
    $layout-offset: 24px;

// Theme
// ---------------------------------------------------------------------

    // $color-background:     #111;
    $color-background:     transparent url('') center center no-repeat;
    $color-overlay:        rgba(darken($palette-blue-400, 52%), .8);
    $color-primary:        $wfg-color-blue; //Main color
    $color-primary-dark:   $palette-yellow-500; //Main color
    $color-font: 		   $palette-grey-800;
    $color-font-negative:  $color-white;
    $color-link-hover:     $wfg-color-blue;

// Fonts
// ---------------------------------------------------------------------

	@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=cyrillic);

    $preferred-font: "Open Sans", "Helvetica", "Arial", sans-serif;
    $font-size: 1.6 * $unit;
    $font-size-tiny: 1.2 * $unit;
    $font-size-small: 1.4 * $unit;
    $font-size-normal: $font-size;
    $font-size-big: 1.8 * $unit;
    $font-weight-thin: 300;
    $font-weight-normal: 400;
    $font-weight-semi-bold: 500;
    $font-weight-bold: 700;

    * { 
    	font-family: $preferred-font;
    }

// Mixins
// ---------------------------------------------------------------------

    @mixin material-shadow ($none) {
    	// Material shadow
    	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    	transition: all 0.3s cubic-bezier(.25,.8,.25,1);

        &:hover {
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
        &:active {
          box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        }
    }

    @mixin material-shadow-nohover ($none) {
        // Material shadow
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }

    @mixin material-shadow-hover ($none) {
    	// Material shadow On Hover
        &:hover {
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
        &:active {
          box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        }
    }

    @mixin material-shadow-big ($none) {
        // Material shadow On Hover
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        &:active {
          box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        }
    }