* { 	
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
	box-sizing: border-box;
	// &::selection {
	// 	background: none;
	// }
}

html {    
	height: 100%;
	width: 100%;
	min-width: 1020px;
}

body {
	background: $color-background;
	background-size: cover;
	color: $color-font;
	cursor: default;
	width: 100%;
	height: 100%;
	min-height: 660px;
	min-width: 1020px;
	overflow-x: auto;
	font-size: $font-size;
}

.block {
	padding: $layout-offset/2 0;
}

.b-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	position: relative;
	max-width: 1020px;
	min-width: 1020px;
	padding: 0 $layout-offset;
	margin: auto; 
}

.b-h1 {
	font-size: $font-size-big*2;
	text-align: left;
	color: $palette-grey-400;
	font-weight: $font-weight-thin;
	line-height: $layout-offset*2.5;
}

a {
	text-decoration: none;
	color: $color-font;
	cursor: pointer;

}

input {
	outline: none;
}

.first-block {
	position: relative;
	overflow: hidden;

	.video-container {
		position: absolute;
		z-index: -100;
		width: 100%;
		height: 100%;
		margin-top: -15%;

		.filter {
			top: 0;
			bottom: 0;
			position: absolute;
			z-index: 100;
			width: 100%;
			height: 200%;
			background: rgba($color-white, .8);
		}
	}
}